*{
    margin:0;
    padding:0;
}
body{
    max-width:1400px;
    margin:auto;
    font-family: raleway sans-serif;
}

/* *********************
******** titres ********
********************* */
h1{
    font-size: 1.2rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}
/*  prix des chambres  */
.prixChambre{
    font-size:0.8rem;
    opacity:75%;
}
/* *******************
******* header *******
******************* */
header{
    margin-bottom: 3%;
    display:flex;
    justify-content: space-between;
}
/* ***** logo ***** */
#logo{
    width: 15%;
    margin:35px 0 0 55px;
}
/* ***** barre de navigation ***** */
nav{
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: baseline;
}
/* ***** liens ***** */
.lien_nav{
    margin: 0 55px 0 0;
    padding-top: 45px;
    text-decoration: none;
    font-size:1rem;
    font-weight:bold;
    color:black;
}
/* ***** survol des liens ***** */
.lien_nav:hover{
    color:#0065FC;
    border-top:3px solid #0065FC;
}

/* ***********************************************
 ****** section de recherche et de filtres *******
 ********************************************** */
#recherche{
    margin-left: 55px;
    margin-bottom: 3%;
}
/* ***** description ***** */
#description{
    margin-top:5px;
    font-size:0.9rem;
    opacity:75%;
}
/* ***** formulaire de recherche ***** */
form{
    width:360px;
    height: 40px;
    margin-top:15px;
    display:flex;
    border-radius:15px;
}
/* icone localisation */
#location{
    width:12%;
    margin-top: -1px;
    border-radius:15px 0 0 15px;
    background-color:#D9D9D9;
    text-align: center;
    line-height:40px;
}
/* input texte recherche */
#name{
    width:210px;
    border:none;
}
#name::placeholder{
    padding-left: 10px;
    font-weight:bold;
    color:black;
}
/* bouton rechercher */
#btn-submit{
    width:30%;
    border:none;
    border-radius:0 15px 15px 0 ;
    background-color:#0065FC ;
    color:white;
}
/* ***** boutons de filtre ***** */
#filtres{
    width:60%;
    margin-top:1%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 1rem;
    font-weight: bold;
}
/* boutons */
.btn-filtre{
    height:35px;
    margin-left: 20px;
    padding:0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #D9D9D9;
    border-radius:50px;
    color:#0065FC;
    background-color: white;
}
.btn-filtre:hover{
    background-color:#DEEBFF;
}
.filter_name{
    margin-left:10px;
}
/* phrase indicative avec icone */
#indication{
    width:40%;
    margin-top: 10px;
    display: flex;
    font-size:0.8rem;
}
#indication p{
    margin-left: 15px;
}
#indication i{
    width:20px;
    height:20px;
    border:1px solid #D9D9D9;
    border-radius:50%;
    text-align: center;
    line-height: 15px;
    color:#0065FC;
}

/* ************************************************************************************
***** section avec les annonces d'hébergement et les annonces les plus populaires *****
************************************************************************************ */
#main{
    height:650px;
    margin:0 50px 0 50px;
    display:flex;
    justify-content:space-between;
}
/* ***** section des hébergements à Marseille ***** */
#hebergements{
    width:60%;
    padding: 15px;
    border-radius:15px;
    background-color:#F2F2F2;
}
#titleHebergement{
    margin-left:40px;
}
/* div contenant les 6 annonces */
#hebergementMarseille{
    height: 500px;
    margin-top:10px;
    padding:15px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
/* les annonces */
.articleHebergements {
    height: 200px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #D9D9D9;
    background-color: white;
}
/* images des annonces */
.articleHebergements img{
    width: 100%;
    height:60%;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
/* lien annonce qui englobe toute l'annonce */
.annonceMarseille{
    width:30%;
    text-decoration:none;
    color:black;
}
/* étoiles de notation des annonces */
.stars{
    margin-top:10px;
    color:#0065FC;
}
/* lien afficher plus sous les annonces */
#lienPlusAnnonces{
    margin-left: 40px;
    text-decoration:none;
    color:black;
    font-weight: bold;
}
#lienPlusAnnonces:hover{
    color:#0065FC;
}
/* ***** section des annonces les plus populaires ***** */
#populaires{
    width:30%;
    padding: 15px;
    display:flex;
    flex-direction: column;
    border-radius:15px;
    background-color:#F2F2F2;
}
/* titre avec icone */
#titlePopulaire{
    margin: 0 15px 0 15px;
    display:flex;
    justify-content:space-between;
}
#titlePopulaire i{
    color:#0065FC;
}
.grey{
    color: #F2F2F2;
}
/* div contenant toutes les annonces populaires */
#annoncesPopulaires{
    height: 80%;
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.annonceMarseille{
    max-height: 220px;
}
/* annonces populaires */
.articlePopulaire{
    width:100%;
    height:100%;
    min-height: 135px;
    padding:5px;
    display:flex;
    border-radius:15px;
    box-shadow: 10px 10px 10px #D9D9D9;
    background-color:white;
}
.annoncePopulaire{
    height:25%;
    min-height: 145px;
    text-decoration:none;
    color:black;
}
/* photos des annonces */
.articlePopulaire img{
    width:30%;
    height:100%;
    border-radius:15px 0 0 15px;
    margin:auto;
    object-fit: cover;
}
.textePopulaire{
    width:60%;
    margin: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

/* *****************************************************
***** Section concernant les activités à Marseille *****
***************************************************** */
#activites{
    height:550px;
    margin:50px 55px 0 55px;
}
/* div contenant les activités */
#liensActivites{
    height:100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.lienActivite{
    width:22%;
    height:90%;
}
/* activités */
.ActiviteMarseille{
    width: 100%;
    height:100%;
    border-radius:15px;
    box-shadow: 10px 10px 10px #D9D9D9;
    text-decoration: none;
}
/* images activités */
.ActiviteMarseille img{
    width:100%;
    height:85%;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
/* articles activités */
.lienActivite{
    text-decoration: none;
    color:black;
}
/* nom de l'activité */
.titreActivite{
    height:10%;
    margin-left:15px;
    margin-top:10%;
}

/* *************************
********** footer **********
************************* */
footer{
    height:200px;
    margin:15px 50px 0 45px;
    display:flex;
    justify-content: space-between;
    background-color:#F2F2F2;
}
/* catégorie */
.rubriqueFooter{
    width:30%;
    margin: 50px;
}
/* liens dans le footer */
.lienRubriqueFooter{
    margin-top:10px;
    list-style-type: none;
}
.lienRubriqueFooter a{
    text-decoration: none;
    color:black;
    opacity:75%;
}
.lienRubriqueFooter a:hover{
    color:#0065FC;
}

/* *****************************
***** media query tablette *****
***************************** */
@media (min-width: 768px) and (max-width: 992px) {
    #filtres{
        width:90%;
    }
    /* annonces hébergements et populaires */
    #main{
        height:100%;
        display:flex;
        flex-direction: column;
    }
    #hebergements{
        width:100%;
    }
    #populaires{
        width:100%;
        margin-top:40px;
    }
    #annoncesPopulaires{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .annoncePopulaire{
        width:30%;
    }
    .articlePopulaire img{
        width:30%;
        min-height:130px;
    }
}

/* ********************************
***** media query smartphones *****
******************************** */
@media (max-width: 767.9px){

}
